
.drop {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom:1vh;
}

.dropdown {
  display: inline-block;
}


.dropbtn {
  padding: 1vh;
  font-size: 0.9vw;
  border-bottom:2px solid transparent;
  margin: auto;
  font-weight: 400;
  cursor:pointer;
  transition:font-weight ease-out 0.1s;
  -webkit-transition:font-weight ease-out 0.1s;
  -moz-transition:font-weight ease-out 0.1s;
  -ms-transition:font-weight ease-out 0.1s;
  -o-transition:font-weight ease-out 0.1s;
}

.dropbtn:hover {
    transition:font-weight ease-in 0.1s;
    -webkit-transition:font-weight ease-in 0.1s;
    -moz-transition:font-weight ease-in 0.1s;
    -ms-transition:font-weight ease-in 0.1s;
    -o-transition:font-weight ease-in 0.1s;
    font-weight: 700;
    border-bottom:2px solid #ee4a1b;
}

.tabStyles {
    transition:font-weight ease-in 0.1s;
    -webkit-transition:font-weight ease-in 0.1s;
    -moz-transition:font-weight ease-in 0.1s;
    -ms-transition:font-weight ease-in 0.1s;
    -o-transition:font-weight ease-in 0.1s;
    font-weight: 700;
    border-bottom:2px solid #ee4a1b;
}



.dropdownContent {
  display: none;
  padding:2vh 0;
  font-size: 0.9vw;
  text-align: left;
  position: absolute;
  background-color: white;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100vw;
  z-index: 1000;
  box-shadow: 0 20vh 100vh white;
}

.dropdown:hover > .dropdownContent {
  display: block;
}


.dropdownContent a {
  color: black;
  padding: 1.1vh 0;
  text-decoration: none;
  display: block;
  font-weight: 400;
  transition:font-weight ease-out 0.05s;
  -webkit-transition:font-weight ease-out 0.05s;
  -moz-transition:font-weight ease-out 0.05s;
  -ms-transition:font-weight ease-out 0.05s;
  -o-transition:font-weight ease-out 0.05s;
}

.dropdownContent a:hover {
  font-weight: 600;
  transition:font-weight ease-in 0.05s;
  -webkit-transition:font-weight ease-in 0.05s;
  -moz-transition:font-weight ease-in 0.05s;
  -ms-transition:font-weight ease-in 0.05s;
  -o-transition:font-weight ease-in 0.05s;
}

.dropHeadings{
  font-weight: 700;
  margin:1vh 0;
}

.dropdownFlex {
  display: flex;
  gap: 2vw;
  justify-content: center;
}


.menuCta > a{
    text-decoration: none;
    text-decoration: underline;
    color:#ee4a1b;
    font-weight: 500;
}

